body {
    background: white;
}
.fon {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px auto;
    max-width: 1250px;
    }
.maincoint{     
    display:flex;
    margin: 0 auto;
    width: 45%;
    min-width: 400px;
    } 
.maintitel{
    font-family: Roboto,sans-serif;     
    font-style: normal;     
    font-weight: 300;     
    font-size: 43px;     
    line-height: 50px;     
    margin: 50px;
    margin-left: 190px;
    margin-top: auto;
    margin-bottom: auto;
    } 
.main{ 
    position: relative;     
    margin-right:0px ;     
    width: 172px;     
    height: 172px;      
    } 
.main span{     
    left: 105px;     
    top: 38px;     
    position: absolute;    
    border-radius:100%;     
    background-color:#833AE0;     
    color: white;     
    padding-top:10px;     
    padding-bottom:12px;     
    padding-left:5px;     
    padding-right:3px;     
    font-family: Roboto;     
    font-style: normal;     
    font-weight: bold;     
    font-size: 15px;     
    text-align: center; 
    } 
.text{     
    font-family: Roboto;     
    font-style: normal;     
    font-size: 16px;     
    line-height: 19px;     
    list-style: none;     
    text-decoration: none;
    padding: 0;     
    } 
h3{     
    font-family: Roboto;     
    font-style: normal;     
    font-weight: bold;     
    font-size: 16px;     
    line-height: 19px;     
    color: #833AE0; 
    padding-top: 10px;

    } 

.prise{ 
font-family: Roboto; 
font-style: normal; 
font-size: 16px; 
line-height: 123.4%; 
color: #000000;
margin-top: 25px;
margin-bottom: 0;
margin-left: 50px;
font-weight: 700;
min-width: 20%;
    }
.prise p {
    margin: 0;
}
.prise span {
    color: gray;
    font-size: 13px;
}

h2 a {
    text-decoration: none;
    font-size: 20px ;
}

/* links */
.logo {
    font-size: 35px;
}

.mainlink {
    max-width: 1280px;
    display: flex;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-size: 15px;
    
}
.right {
    background-color: rgba(196, 196, 196, 0.5);
    padding-left: 47px;
    padding-right: 44px;
    padding-top: 30px;
    padding-bottom: 15px;
    margin-top: 20px;
    margin-bottom: 50px;
    max-width: 40%;
    margin-right: 150px;
}
.top {
    margin-bottom: -120px;
    margin-left: 100px;
    margin-top: 0px;
}
.down {
    margin-left: 100px;
}
table {
    /* border: 1px solid white; */
    margin-top: 5%;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    
}
tr td:first-child {
    border-right: 1px solid #cac6c6;

}
td {
    padding: 5px;
    font-size: 14px;
}
tr {
    border-bottom: 1px solid #cac6c6;
}
tr:last-child {
    border-bottom: 0px solid #cac6c6;
}
tr:nth-child(2n-1) {
    background-color: white;
}
.bold {
    color: black;
    font-size: 40px;
    font-weight: 700;
    margin-left:5px;
}
.number {
    font-weight: 150;
    font-size: 20px;
    color: black;
}
.link {
    margin-top: 100px;
    display: block;
}
.img-big {
    width: 480px;
    height: 480px;
}

article{
    font-size:15px;
}
.artikul {
    color: gray;
}